{
  "extends": "@braisc",
  "rules": {
    "react/jsx-props-no-spreading": [
      1,
      {
        "exceptions": ["Slider"]
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "required": {
          "every": ["id"]
        }
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
