{
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-env"],
      "plugins": ["@babel/plugin-syntax-jsx"]
    }
  },
  "extends": "@braisc",
  "rules": {
    "react/jsx-props-no-spreading": [
      1,
      {
        "exceptions": ["Slider"]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true, "optionalDependencies": true, "peerDependencies": true }
    ]
  }
}
